version: '3'
services:
  mongodb:
    image: 'mongo'
    hostname: mongo
    ports:
      - '27017:27017'
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    # volumes:
    #   - ./scripts/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
  api:
    build:
      context: .
      dockerfile: ./Dockerfile
    env_file:
      - .env
    ports:
      - '8080:8080'
